<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap CDN-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</head>
<body>
  
  <div class="container">
    <div class="row">
      
      <!-- 유저가 로그인을 하지 않았을 경우 로그인/회원가입 -->
      <!-- 유저가 로그인을 했을 경우 로그아웃 -->
      
      <% if session[:user_email].nil? %>
        <div class="col-9"></div>
        <div class="button-group col-3 text-right">
          <a href="/question/sign_up" class="btn btn-outline-dark">회원가입</a>
          <a href="/question/login" class="btn btn-outline-primary">로그인</a>
        </div>
      <% else %>
        <div class="col-9">
          <p><%= session[:user_email] %>님 어서오세요</p>
        </div>
        
        <div class="button-group col-3 text-right">
          <a href="/question/logout" class="btn btn-outline-danger">로그아웃</a>
        </div>
      <% end %>
      </div>
      
    </div>
    
    
    
    
  </div>
  
  
  
<%= yield %>

</body>
</html>
